#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  color: rgb(42, 42, 130);
}
.searchDiv {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.searchDiv form {
  display: flex;
  flex-direction: column;
}
.imageList{
  columns: 250px 5; /* width and number of columns */
  column-gap: 10px;
}
.imageListImg{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 20px;
}